html { 
  background: url('background.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	margin: 0;
	padding: 0;
	background-color: transparent;
}

#page {
	width: 480px;
	max-width: 100%;
	background-color: white;
	border-radius: 8px;
}
@media (max-width: 575.98px) {
	#page {
		margin-top: 0px !important;
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
}

#exchange > .input-group > button,
#price > .input-group > button {
	width: 80px;
}
@media (min-width: 576px) {
	#exchange > .input-group > button,
	#price > .input-group > button {
		width: 120px;
	}
}

.small-line-height {
	line-height: 1em !important;
}

.name {
	padding-left: 8px;
	font-size: 18px;
}

.data {
	height: 16px;
	text-align: right;
}

.data > span {
	min-width: 32px;
}

svg:hover {
	cursor: pointer;
}